.main{
    max-width: 1080px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 40px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 39px;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}  



