:root{
    --font-family:"Inter";
    --color: #9d9d9d;
    --primary-color: #a5d364;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--font-family);
    font-weight: 400;
    height: 100%;
}

body{
    height: 100%;
    background-color:  #e7f6ff;;
}

#root{
    height: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}